body {
    background: url('https://million-wallpapers.ru/wallpapers/0/0/11231806443343486105/krasochnyj-gorod-na-poberezhe.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.di {
    color: cornflowerblue;
    margin:30px auto 5px;
    width:max-content;
    

}
.di a{
    color:rgb(218, 91, 91);
    font-style:initial;

}