<html>
<head>
	<title>mahon.ru</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
<div id="contact" class="di">
	<h3>Контакты</h3>
<a href="https://www.instagram.com/mahon_ru/" target="_blank">@mahon_ru (instagram)</a><br />
<a href="http://vk.com/mahon" target="_blank">Вконтакте</a><br />
<a href="http://www.facebook.com/mahonya" target="_blank">FaceBook</a><br />
<a href="mailto://admin@mahon.ru">admin@mahon.ru</a>
</div>

<div id="project" class="di">
<h3>Проекты</h3>
<a href="http://sibkiting.ru" target="_blank">Sibkiting.ru</a> портал о кайтинге<br />
<a href="http://www.kitensk.com/modules.php?name=Forums" target="_blank">Форум</a> кайтинга Новосибирска<br />
<a href="http://мебельблок.рф" target="_blank">Сайт</a> производства матрасов<br />

<br />
</div>
</center>
</body>
</html>